{% extends "layouts/base.twig" %}
{% block content %}
  <section class="ch-hero-tools" style="background-image: url({{TimberImage(post.image).src}});">
    <div class="ch-container">
      <div class="ch-row">
        <div class="ch-col-xs-6">
          <h1 class="title-1 text-yellow text-center">{{ post.title }}</h1>
        </div>
      </div>
    </div>
    <div class="ch-hero-tools-filter1"></div>
    <div class="ch-hero-tools-filter2"></div>
    <img class="ch-hero-tools-pattern" src="{{theme.link}}/library/images/triangles-layer@2x.png" alt="">
  </section>
  <div class="ch-latest xs-mt-50 xs-mb-50 xs-pt-30 xs-pb-30 md-pt-50 md-pb-50">
    <div class="ch-container">
      <div class="ch-row justify-center">
        <div class="ch-col-xs-6 ch-col-sm-2">
          {% for post in posts %}
            <a href="{{ post.link }}" class="ch-latest-item decoration-none">
              <img src="{{ post.thumbnail.src}}" alt="">
              <h3 class="text-20-medium text-dark">{{ post.title }}</h3>
              <p class="text-18-italic text-dark xs-mt-5 xs-mb-10">{{ post.author.name }} | {{ post.date }}</p>
              <div class="ch-latest-text ch-rich-text">
                {{ post.content|truncate(15, '...') }}
              </div>
              <div class="inline-block text-18 text-dark link-grow xs-mt-10">Read More</div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}