{% extends "layouts/base.twig" %}
{% block content %}
  <section class="ch-hero-tools" style="background-image: url({{TimberImage(post.header_image).src}});">
    <div class="ch-container">
      <div class="ch-row">
        <div class="ch-col-xs-6">
          <h1 class="title-1 text-yellow text-center">{{ post.title_line_1}}</h1>
          {% if post.title_line_2 is not empty %}
            <h1 class="title-1 text-yellow text-center">{{ post.title_line_2}}</h1>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="ch-hero-tools-filter1"></div>
    <div class="ch-hero-tools-filter2"></div>
    <img class="ch-hero-tools-pattern" src="{{theme.link}}/library/images/triangles-layer@2x.png" alt="">
  </section>
  <section class="ch-rich-text xs-pt-50 xs-pb-75 sm-pt-70 lg-pt-100">
    <div class="ch-container">
      <div class="ch-row">
        {# if user is a patreon or admin, show content #}
        {% if is_patreon %}
          {% if post.body_text is not empty %}
            <div class="ch-col-xs-6 xs-mb-50">
              {{ post.body_text }}
            </div>
          {% endif %}
          <div class="ch-col-xs-6 xs-mb-50">
            {{ post.embed }}
          </div>
        {% else %}
          {% include "components/cta-light.twig" %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
