{% if item.alignment == "Right" %}
  {% if item.large_text == 1 %}
  <section class="gc-text-image gc-text-image-right -text-large">
  {% else %}
  <section class="gc-text-image gc-text-image-right -text-small">
  {% endif %}
    <div class="gc-container">
      <div class="gc-row">
        <div class="gc-text-image-text">
          {% if item.text_title is not empty %}
            <h2>{{ item.text_title }}</h2>
          {% endif %}
          {% if item.text is not empty %}
            {{ item.text }}
          {% endif %}

          {% if item.links %}
            {% for link in item.links %}
              <div class="gc-text-image-text-link-wrap">
                  <a href="{{link.link.url}}" {{link.link.target}} class="gc-text-image-text-link">{{ link.link.text }}</a>
              </div>
              {% if link.bottom_text is not empty %}
                <p class="gc-text-image-text-link-copy">{{link.bottom_text}}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="gc-text-image-image">
          <img src="{{TimberImage(item.image).src}}" alt="{{item.image.alt}}"/>
        </div>
      </div>
    </div>
  </section>
{% else %}
{% if item.large_text %}
  <section class="gc-text-image gc-text-image-left -text-large">
  {% else %}
  <section class="gc-text-image gc-text-image-left -text-small">
  {% endif %}
    <div class="gc-container">
      <div class="gc-row">
        <div class="gc-text-image-image">
          <img src="{{TimberImage(item.image).src}}" alt="{{item.image.alt}}"/>
        </div>
        <div class="gc-text-image-text">
          {% if item.text_title is not empty %}
            <h2>{{ item.text_title }}</h2>
          {% endif %}
          {% if item.text is not empty %}
            <p>{{ item.text }}</p>
          {% endif %}

          {% if item.links %}
            {% for link in item.links %}
              <div class="gc-text-image-text-link-wrap">
                  <a href="{{link.link.url}}" {{link.link.target}} class="gc-text-image-text-link">{{ link.link.text }}</a>
              </div>
              {% if link.bottom_text is not empty %}
                <p class="gc-text-image-text-link-copy">{{link.bottom_text}}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
