{% if item.background_color == 'gray' %}
  <section class="gc-basic-cta gray-bg">
{% else %}
  <section class="gc-basic-cta">
{% endif %}
  <div class="gc-container">
    <div class="gc-row">
      <div class="gc-basic-cta-text-block">
        {% if item.title is not empty %}
          <h2>{{ item.title }}</h2>
        {% endif %}

        {% if item.text is not empty %}
          <p>{{ item.text }}</p>
        {% endif %}

      </div>
      <div class="gc-basic-cta-btn-block button-wrap">
        {% set buttonColor = item.button_color %}
        {% set class = "gc-button gc-button-" ~ buttonColor ~ " gc-button-" ~ buttonColor ~ "-large" %}
        <a href="{{ item.cta_button.url }}" class="{{class}}" {{item.cta_button.target}}>{{item.cta_button.text}}</a>
      </div>
    </div>
  </div>
</section>
