<div class="ch-latest xs-mt-50 xs-mb-50 xs-pt-30 xs-pb-30 md-pt-50 md-pb-50 fill-white">
  <div class="ch-container">
    <div class="ch-row justify-center">
      <div class="ch-col-xs-6 xs-mb-20">
        <h2 class="title-2-mono text-dark text-center">Recent Articles</h2>
      </div>
      {% for post in latest_posts %}
        <div class="ch-col-xs-6 ch-col-sm-2 xs-mb-50 sm-mb-0">
          <a href="{{ post.link }}" class="ch-latest-item decoration-none">
            <img src="{{ post.thumbnail.src}}" alt="">
            <h3 class="text-20-medium text-dark">{{ post.title }}</h3>
            <p class="text-18-italic text-dark xs-mt-5 xs-mb-10">{{ post.author.name }} | {{ post.date }}</p>
            <div class="ch-latest-text ch-rich-text">
              {{ post.content|truncate(15, '...') }}
            </div>
            <div class="inline-block text-18 text-dark link-grow xs-mt-10">Read More</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>