<section class="ch-sponsor-logos">
  <div class="ch-container">
    {% if item.title is not empty or item.text is not empty %}
    <div class="ch-row">
        <div class="ch-sponsor-logos-title-text">
          {% if item.title is not empty %}
            <h2>{{ item.title }}</h2>
          {% endif %}
          {% if item.text is not empty %}
            <p>{{ item.text }}</p>
          {% endif %}
        </div>
    </div>
    {% endif %}

    {# {% if item.sponsors %} #}
      {% for row in item.sponsors %}
      <div class="ch-row logos">
        <h3>{{ row.sponsor_row_title }}</h3>
        <div class="ch-sponsor-logos-standard">
          {% for logo in row.row_logos %}
            <div class='logo'>
                <a href="{{logo.link}}">
                  <img src="{{TimberImage(logo.logo).src}}" alt={{logo.logo.alt}}/>
                </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    {# {% endif %} #}

    {# {% if item.event_sponsors %}
    <div class="ch-row logos">
        <h3>Event Sponsors:</h3>
        <div class="ch-sponsor-logos-standard">
          {% for logo in item.event_sponsors %}
            <div class='logo'>
                <a href="{{logo.event_link}}">
                  <img src="{{TimberImage(logo.event_logo).src}}" alt={{logo.event_logo.alt}}/>
                </a>
            </div>
          {% endfor %}
        </div>
    </div>
    {% endif %} #}

    {% if item.bottom_text.text %}
    <div class="ch-row sub-text">
      <div class="sub-text-title">
        <p>{{item.bottom_text.text}}</p>
      </div>
    </div>
    {% endif %}
    {% if item.bottom_text.link %}
    <div class="ch-row sub-text">
      <div class="sub-text-link">
          <a href="{{item.bottom_text.link.url}}" {{item.bottom_text.link.target}} class="ch-text-image-text-link">{{item.bottom_text.link.text}}</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>
