{% extends "layouts/base.twig" %}
{% block content %}
{% set youtube = post.get_field('youtube_id') %}
<section class="ch-speaker-profile">
   <div class="ch-container">
    <div class="ch-speaker-profile-image">
      <img src="{{theme.link}}/library/images/eyes-circles@2x.png" alt="viewing eyes design">
    </div>
    <div class="ch-row">
      <div class="ch-speaker-profile-left">
        <div>
        <h2 class="title">{{ post.title }}</h2>
        <p>{{ post.talk_description }}</p>
        </div>
        <div class="ch-speaker-profile-social">
        </div>
      </div>
      <div class="ch-speaker-profile-right">
        <div class="image-card">
          <div class="plyr__video-embed su_recent_talk_video">
              <iframe src="https://www.youtube.com/embed/{{ youtube }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
          </div>
        </div>
      </div>
    </div>
   </div>
</section>
{% if show_recent_talks == true %}
<section class="ch-recent-talks">
  <div class="ch-container">
    <div class="ch-row">
      <h2>{{ recent_talks_title }}</h2>
    </div>
    <div class="ch-row">
      {% for talk in post.get_field('talks') %}
        <div class="ch-recent-talks-item">
          <div class="plyr__video-embed su_recent_talk_video">
              <iframe src="https://www.youtube.com/embed/{{ talk.youtube_id}}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
          </div>
          <h4>{{ talk.talk_description }}</h4>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% if cta_title or cta_desc is not empty %}
<section class="ch-community-cta" {{ add_top_border_speaker == false ? 'style="padding-top:0;"' : '' }}>
  <div class="ch-container">
    <div class="ch-row {{ (add_top_border_speaker == true ) ? 'border-top' : 'no-border' }}">
      <div class="ch-community-cta-left">
        {% if cta_title is not empty %}
          <h3 class="ch-community-cta-title">{{ cta_title }}</h2>
        {% endif %}
        {% if cta_desc is not empty %}
          <p class="ch-community-cta-copy">{{ cta_desc }}</p>
        {% endif %}
      </div>
      <div class="ch-community-cta-right">
        <div class="ch-community-cta-input-group">
          <div id="mc_embed_signup">
              <form action="//heavywater.us6.list-manage.com/subscribe/post?u=576e632588&amp;amp;id=2e5efd43d8" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Your Email" class="ch-input">
                <button class="ch-button" type="submit" id="mce-embedded-subscribe">Sign Up!</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
