{% for time_slot in event.time_slots %}
<div class="gc-row">
  <div class="gc-event-schedule-content">

    {% if time_slot.start_time is not empty %}
    <p class="gc-event-schedule-time">{{ time_slot.start_time }}
      {% if time_slot.end_time is not empty %} - {% endif %} {{ time_slot.end_time }}
    </p>
    {% endif %}

    <div class="gc-event-schedule-detail">

      {% if time_slot.event_title is not empty %}
      <p class="gc-event-schedule-title">{{ time_slot.event_title }}</p>
      {% endif %}

      {% for speaker in time_slot.speakers %}
      <a href="{{ speaker.speaker_name.url }}" class="gc-event-schedule-speaker">{{ speaker.speaker_name.text }}</a>{% if speaker.speaker_company is not empty %}<span class="gc-event-schedule-company"> - {{ speaker.speaker_company }}</span>{% endif %}<br>
      {% endfor %}

      {% if time_slot.event_desc is not empty %}
      <div class="gc-event-schedule-detail-body gc-rich-text -collapsed" aria-expanded="false">
        <p>{{ time_slot.event_desc }}</p>
      </div>
      {% endif %}

    </div>

    {% if time_slot.event_desc is not empty %}
    <div class="gc-event-schedule-detail-toggle">
      <span class="gc-event-schedule-detail-toggle-text">Details</span>
      <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 8 12">
      <g fill="none"
            fill-rule="evenodd">
            <path fill="#2C3458"
              fill-rule="nonzero"
              d="M0 10.59L4.58 6 0 1.41 1.41 0l6 6-6 6z" />
          </g>
      </svg>
    </div>
    {% endif %}

  </div>
</div>
{% endfor %}
