{% if item.hero_image is not empty %}
<section class="gc-hero gc-hero-bg" style="background-image: url({{TimberImage(item.hero_image).src}});">
{% else %}
<section class="gc-hero gc-hero-bg">
{% endif %}
  <div class="gc-container">
    <div class="gc-row">
      <div class="gc-hero-content">
        <h1>{{ item.hero_title }}</h1>
        <p>{{ item.hero_text }}</p>
        <a href="{{ item.hero_large_button.url }}" class="gc-button gc-button-green gc-button-green-large">{{ item.hero_large_button.text }}</a>
      </div>
    </div>
  </div>
  <div class="gc-hero-bg-filter"></div>
</section>
