{% extends "layouts/base.twig" %}
{% block content %}
<section class="gc-hero gc-hero-slim gc-hero-slim-blue gc-hero-slim-remove-border">
  <div class="gc-container">
    <div class="gc-row">
      <div class="gc-hero-content">
          <h1>All {{ archive_year }} Speakers</h1>
          <p>All the speakers for {{ archive_year }}.</p>
      </div>
        <div class="gc-hero-image gc-hero-slim-image">
          <img src="{{theme.link}}/assets/images/eye-circle@2x.png" alt="Monitoring with Sensu provides total visibility into your infrastructure" style="max-width:420px" />
        </div>
    </div>
  </div>
</section>
<section class="gc-columns -white-bg">
  <div class="gc-container">
    <div class="gc-row">
      {% for post in posts %}
        <div class="gc-columns-col">
          <img src="{{TimberImage(post.speaker_profile_image)}}" width="140" class="col-icon col-icon-profile" />
          <h3>{{post.title}}</h3>
          <p>{{ post.speaker_desc | excerpt(20)}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
