<header class="gc-header">

  {% if options.notification is not empty %}
  <div class="gc-header-announcement">
    <p class="gc-header-announcement-content">{{ options.notification }}</p>
  </div>
  {% endif %}

  <div class="gc-nav gc-nav-container flex justify-space-between sm-pt-15 sm-pb-15" id="navContainer">
    <a href="/" class="link-logo">
      <div class="flex logo-desktop align-center">
        <img src="{{theme.link}}/assets/images/gc-box@2x.png" alt="Gup's Corner Box Logo">
        <p class="title-logo text-white sm-ml-10">Gup's Corner</p>
      </div>
      <div class="flex logo-mobile">

      </div>
    </a>
    <nav class="gc-nav-desktop">
      <ul class="unstyled-list flex">
        {% for item in menu.items %}
          <li class="{{ item.current ? 'active' : '' }}"><a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}

      </ul>
      <ul>

        {% if options.nav_link != "" %}
          <li><a href="{{options.nav_link.url}}">{{options.nav_link.text}}</a></li>
        {% endif %}

        {% if options.nav_button != "" %}
          <li class="-no-padding"><a href="{{options.nav_button.url}}" class="gc-button gc-button-green gc-button-green-small">{{options.nav_button.text}}</a></li>
        {% endif %}

      </ul>
    </nav>
    {# <nav class="gc-nav-mobile">
      <button class="gc-nav-toggle hamburger hamburger--slider" id="navToggle" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="gc-nav-links gc-nav-mobile-content" id="navContent">
        <div class="gc-nav-mobile-left">
          <div class="gc-container">
            <div class="gc-row">
              <ul>

              {% for item in menu.items %}
                <li class="{{ item.current ? 'active' : '' }}"><a href="{{item.link}}">{{item.title}}</a></li>
              {% endfor %}

              </ul>
            </div>
          </div>
          <div class="gc-nav-mobile-left-bottom">
            <div class="gc-container">
              <div class="gc-row">

                {% if options.nav_button != "" %}
                  <a href="{{options.nav_button.url}}" class="gc-button gc-button-green gc-button-green-small">{{options.nav_button.text}}</a>
                {% endif %}

                {% if options.call_us is not empty %}
                  <p>Give us a call at: 1-855-99-SENSU</p>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
        <div class="gc-nav-mobile-right">
          <div class="gc-container">
            <div class="gc-row">

              {% if options.mobile_nav_title is not empty %}
                <h2>{{ options.mobile_nav_title }}</h2>
              {% endif %}
              {% if options.mobile_nav_text != "" %}
                {{ options.mobile_nav_text }}
              {% endif %}

              {% if options.mobile_nav_social %}
                <div class="gc-nav-mobile-right-social">

                {% for item in options.mobile_nav_social %}
                  <a href="{{ item.link }}" target="_blank">
                    <i class="{{ item.icon }}"></i>
                  </a>
                {% endfor %}

                </div>
              {% endif %}

              {% if options.mobile_nav_button %}
                <div class="gc-nav-mobile-right-button">
                  <a href="{{options.mobile_nav_button.url}}" class="gc-button gc-button-green gc-button-green-small">{{options.mobile_nav_button.text}}</a>
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </nav> #}
  </div>
</header>
