{% extends "layouts/base.twig" %}

{% block content %}
{% set pres_title = post.get_field('speaker_pres_title') %}
{% set pres_desc = post.get_field('speaker_pres_text') %}
{% set speaker = post.title %}
{% set speaker_image = post.get_field('speaker_profile_image') %}
{% set profile = post.get_field('speaker_desc') %}
{% set role = post.get_field('speaker_role') %}
{% set github = post.get_field('github') %}
{% set pres_link = post.get_field('speaker_pres_link') %}
{% set twitter = post.get_field('twitter') %}
{% set cta_title = post.get_field('speaker_cta_title') %}
{% set cta_desc = post.get_field('speaker_cta_desc') %}
{% set add_top_border_speaker  = post.get_field('add_top_border_speaker') %}
{% set recent_talks_title = post.get_field('recent_talks_title') %}
{% set show_recent_talks = post.get_field('show_recent_talks') %}
{% set recent_talks_video = post.get_field('recent_talks_video') %}

<section class="gc-speaker-profile">
   <div class="gc-container">
    <div class="gc-speaker-profile-image">
      <img src="{{theme.link}}/assets/images/eyes-circles@2x.png" alt="viewing eyes design">
    </div>
    <div class="gc-row">
      <div class="gc-speaker-profile-left">
        {{ posts.title }}
        <div>
        {% if speaker is not empty %}
          <h2 class="title">{{ speaker }}</h2>
          <h3 class="role">{{ role }}</h3>
        {% endif %}
        {% if profile is not empty %}
          <p>{{profile}}</p>
        {% endif %}
        </div>


        <div class="gc-speaker-profile-social">

        {% if github is not empty %}
        <a href="{{ github }}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="#2C3458" fill-rule="evenodd" d="M24 12.302c0 5.43-3.438 10.044-8.203 11.678-.61.112-.813-.272-.813-.593v-3.38c0-1.153-.375-1.89-.812-2.274 2.672-.305 5.484-1.346 5.484-6.071 0-1.346-.468-2.451-1.234-3.3.125-.32.531-1.57-.125-3.268-1-.32-3.297 1.265-3.297 1.265a11.038 11.038 0 0 0-6 0S6.703 4.774 5.687 5.094c-.64 1.698-.234 2.947-.109 3.268-.766.849-1.234 1.954-1.234 3.3 0 4.71 2.797 5.766 5.468 6.07-.343.321-.656.85-.765 1.65-.688.321-2.438.866-3.485-1.024-.656-1.17-1.843-1.266-1.843-1.266-1.172-.016-.078.753-.078.753.78.368 1.328 1.794 1.328 1.794.703 2.195 4.047 1.458 4.047 1.458 0 1.025.015 2.002.015 2.29 0 .32-.219.705-.828.593C3.438 22.346 0 17.733 0 12.302 0 5.51 5.375 0 12 0s12 5.51 12 12.302z"/>
          </svg>
        </a>
        {% endif %}

        {% if twitter is not empty %}
        <a href="{{ twitter }}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20">
            <path fill="#2C3458" fill-rule="evenodd" d="M21.544 4.982c.01.217.013.434.013.652C21.557 12.306 16.605 20 7.547 20A13.66 13.66 0 0 1 0 17.73c.385.049.777.07 1.175.07 2.306 0 4.43-.805 6.115-2.161-2.154-.038-3.974-1.5-4.6-3.504.3.06.61.091.928.091a4.9 4.9 0 0 0 1.297-.177C2.661 11.584.963 9.544.963 7.099v-.063a4.835 4.835 0 0 0 2.232.629 5.078 5.078 0 0 1-2.192-4.202c0-.926.242-1.79.668-2.539C4.098 3.98 7.729 5.988 11.82 6.201a5.199 5.199 0 0 1-.128-1.152C11.693 2.26 13.896 0 16.616 0c1.417 0 2.696.614 3.593 1.596A9.734 9.734 0 0 0 23.339.37a5.052 5.052 0 0 1-2.167 2.792A9.47 9.47 0 0 0 24 2.368a10.16 10.16 0 0 1-2.456 2.614"/>
          </svg>
        </a>
        {% endif %}

        </div>

        <h3>Talk Title: {{ pres_title }} </h3>
        {% if pres_desc is not empty %}
          <p>{{ pres_desc }}</p>
        {% endif %}
        <a class="schedule-link" href="{{ pres_link.url }}">{{ pres_link.text }}</a>
      </div>
      <div class="gc-speaker-profile-right">
        <div class="image-card">
          <img src="{{TimberImage(speaker_image).src}}" alt="{{speaker}}"/>
        </div>
      </div>
    </div>
   </div>
</section>

{% if show_recent_talks == true %}
<section class="gc-recent-talks">
  <div class="gc-container">
    <div class="gc-row">
      <h2>{{ recent_talks_title }}</h2>
    </div>
    <div class="gc-row">

      {% for talk in post.get_field('talks') %}
        <div class="gc-recent-talks-item">
          <div class="plyr__video-embed su_recent_talk_video">
              <iframe src="https://www.youtube.com/embed/{{ talk.youtube_id}}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
          </div>
          <h4>{{ talk.talk_description }}</h4>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endif %}

{% if cta_title or cta_desc is not empty %}
<section class="gc-community-cta" {{ add_top_border_speaker == false ? 'style="padding-top:0;"' : '' }}>
  <div class="gc-container">
    <div class="gc-row {{ (add_top_border_speaker == true ) ? 'border-top' : 'no-border' }}">
      <div class="gc-community-cta-left">
        {% if cta_title is not empty %}
          <h3 class="gc-community-cta-title">{{ cta_title }}</h2>
        {% endif %}
        {% if cta_desc is not empty %}
          <p class="gc-community-cta-copy">{{ cta_desc }}</p>
        {% endif %}
      </div>
      <div class="gc-community-cta-right">
        <div class="gc-community-cta-input-group">
          <div id="mc_embed_signup">
              <form action="//heavywater.us6.list-manage.com/subscribe/post?u=576e632588&amp;amp;id=2e5efd43d8" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Your Email" class="gc-input">
                <button class="gc-button" type="submit" id="mce-embedded-subscribe">Sign Up!</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}


{% endblock %}
